# Temporary files
clean.tmp
program.sh
diagnostics.txt

# Micro editor files
.micro/
*~
*.swp

# System cache files
.DS_Store
.Trash/

# VS code editor files
.vscode/
.history/
*.code-workspace

# VS Code log and cache files
.eslintcache
